<%= form_for @test do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <%= form.fields_for :slides do |slide_form| %>
    <div class = "col-md-4 slider">
    <div class = "form-group mx-5 my-5 "> 
      <%= slide_form.range_field :score, class: 'w-100', value: 0, step: 0.25%>
      <%= slide_form.hidden_field :user_id, value: current_user.id%>
    </div>
</div>
  <% end %>
    
  </div>
  <%= form.hidden_field :user_id, value: current_user.id%>

  <div class="form-group text-center">
    <%= form.submit "Next Step", class: "btn btn-primary" %>
  </div>
<% end %>
