<div class="container my-5">
  <b>Your Results</b>
  <h1 class = "mt-2 mb-3">Total Score: <%= @total %></h1>

  <div class = "mb-5">Please input your payment details in this form to collect your payment <%= link_to "https://forms.gle/fvmkLDTYdLT3FtRW8 ", "https://forms.gle/fvmkLDTYdLT3FtRW8", target: "_blank" %></div>

  <h3>Breakdown</h3>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Correct Sliders</td>
        <td><%= current_user.slide_score %></td>
      </tr>
      <%# <tr> %>
      <%#   <td>Choice Test Score</td> %>
      <%#   <td><%= current_user.choice_score %1></td> %>
      <%# </tr> %>
      <tr>
        <td>Lottery</td>
        <td><%= current_user.lottery_score %></td>
      </tr>
      <tr>
        <td>Show Up Bonus</td>
        <td>50</td>
      </tr>
    </tbody>
  </table>
</div>
